h5:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.footer--pin{
    position: absolute;
    bottom:0;
    width: 100%;
}

#root {
    position: relative;
    padding-bottom:60px;
    min-height: 100vh;
}